@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #BCBCBC !important;
}

body::-webkit-scrollbar {
    background-color: #888;
    width: 12px;
    /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #7c0101;
    /* Set the color of the thumb */
    border-radius: 6px;
    /* Set the border-radius of the thumb */
}

.header {
    z-index: 10;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.header.ham-open {
    background: black !important;
}

.logo {
    height: 80px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-item a {
    text-decoration: none;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 1.5rem;
    color: var(--WHITE, #FFFCFC) !important;
}

.nav-item a:hover {
    text-decoration: underline;
}

.sign-up {
    cursor: pointer;
    color: white;
    height: fit-content;
    padding: 10px 20px;
    font: inherit;
    background: #A61A1A;
}

.sign-up:hover {
    background: #7c0101;
    text-decoration: underline;
}

.hambox {
    display: none;
    width: 50px;
    height: 40px;
    align-items: center;
}

.ham,
.ham::after,
.ham::before {
    position: relative;
    width: 50px;
    height: 8px;
    border-radius: 4px;
    background: #A61A1A;
}

.ham::after {
    content: "";
    position: absolute;
    top: 16px;
}

.ham::before {
    content: "";
    position: absolute;
    bottom: 16px;
}

.hambox:hover> :not(.cross),
.hambox:hover> :not(.cross)::after,
.hambox:hover> :not(.cross)::before {
    background: #7c0101;
}

.cross {
    background: transparent;
}

.cross::after,
.cross::before {
    background: white;
    left: -7px;
    width: 64px;
}

.cross::after {
    top: 0;
    transform: rotate(-39deg);
}

.cross::before {
    bottom: 0;
    transform: rotate(39deg);
}

.hambox:hover>.cross::after,
.hambox:hover>.cross::before {
    background: #bcbcbc;
}




.main {
    background: #D9D9D9;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(assets/main.png);
    background-size: cover;
    background-position: bottom right;
}

.alum {
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: "Saira Stencil One", sans-serif;
    font-size: 4rem;
    color: white;
}

.alum #alumni {
    color: #A61A1A;
}

.cgec {
    position: relative;
    width: 70%;
    margin: auto;
    top: -25vh;
    height: 25vh;
    border-radius: 35px;
    background: #D9D9D9;
    box-shadow: 10px 20px 19px 0px rgba(0, 0, 0, 0.25);
    font-family: "Saira Stencil One", sans-serif;
    color: black;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cgec p {
    padding-top: 25px;
    font-size: 2rem;
    text-align: center;
}

/* .cgec input {
    position: absolute;
    height: 40px;
    width: 80%;
    bottom: 5%;
    left: 10%;
    padding-bottom: 25px;
    border-radius: 25px;   
}

.cgec input::placeholder {
    color: #A61A1A;
    padding: 15px;
    font-size: 2rem;
    vertical-align: bottom;
} */

/* .cgec .search-btn {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 9%;
    border-radius: 50%;
    background: #A61A1A;
} */

.cgec form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 60%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 45px;
    background: var(--WHITE, #FFFCFC);
    box-shadow: 10px 19px 18.6px 0px rgba(0, 0, 0, 0.25);
}

.cgec input[type=search] {
    border: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.cgec input[type=search]:focus {
    outline: none;
    border: none;
}

.cgec label {
    background-color: #D72626;
    border-radius: 50%;
}

.cgec i {
    color: #FFF;
    padding: 1rem;
}

.middle-upper {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.middle-upper>.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left>.frame {
    background: #D9D9D9;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.frame img {
    width: 100%;
    aspect-ratio: 3/2;
}

.frame p {
    color: #0D0C0C;
    font-family: "Saira Stencil One", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 81.373%;
    /* 16.275px */
    text-transform: uppercase;
    text-align: center;
}

.about h1 {
    color: #B81A1A;
    font-family: "Saira Stencil One";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 60px */
    text-transform: uppercase;
    border-bottom: 2px solid #8B8787;
    width: fit-content;
}

.about span {
    color: #FBF6F6;
}

.about p {
    color: #000;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 151%;
    /* 24.16px */
    text-transform: capitalize;
}

.middle-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
}

.middle-bottom>.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 34px;
    background: var(--WHITE, #FFFCFC);
    padding: 2rem;
    width: 20%;
    text-align: center;
    justify-content: space-between;
}

.box h2 {
    color: #000;
    font-family: "Saira Stencil One";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 20px */
    text-transform: uppercase;
}

.box a {
    color: #FFF;
    font-family: "Saira SemiCondensed", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 20px */
    text-transform: uppercase;
    border-radius: 5px;
    background: #CD2121;
    padding: 0.5rem 1rem;
    text-decoration: none;
}



.footer {
    height: 40vmin;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 100%, 0% 100%);
    background: black;
    color: white;
    align-items: center;
    padding: 0 4rem;
}

.foot-left {}

#address {
    font-family: "Saira Stencil One", sans-serif;
    font-size: 2rem;
}

#harinchawra {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.foot-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.icons img {
    width: 100%;
    aspect-ratio: 1/1;
}

.icons a {
    text-decoration: none;
}

.social-icon {

    width: 100%;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.foot-links {
    display: flex;
    gap: 2rem;
}

.foot-links a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FBF6F6;
    font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
    .hambox {
        display: flex;
    }

    .list {
        display: none;
    }

    .ham-open {
        background: black;
    }

    .ham-menu {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        box-shadow: 0px 8px 8px -8px rgba(255, 255, 255, 0.5);
        display: inline-table;
    }

    .ham-menu .item {
        padding: 10px 15px;
    }

    .cgec p {
        padding: 1rem;
        font-size: 1.3rem;
        text-align: center;
        margin: 0;
    }

    .cgec form {
        width: 90%;
        padding: 0.5rem 1rem;
    }

    .main {
        height: 70vh;
    }

    .middle-upper {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }

    .alum {
        top: 20%;
        font-size: 3.5rem;

    }

    .alum p {
        margin: 0;
    }

    .cgec {
        width: 80%;
    }

    .middle-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
    }

    .middle-bottom>.box {
        width: 60%;
    }

    .footer {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        justify-content: flex-end;
        padding-bottom: 3rem;
        clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0% 100%);
    }

    .foot-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foot-right {
        align-items: center;
    }

    .icons {
        width: 100%;
    }
    .foot-links a{
        text-align: center;
    }
}